body {
    font-family: "Roboto", serif;
}

h1 {
    text-align: center;
    border: solid;
    padding: 1%;
}

.product-grid {
    display: flex;
    justify-content: center;
}

.product-card {
    background-color: #ffffff;
    margin: 1%;
    border: solid 1px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-info {
    margin: 5%;
}

img {
    width: 180px;
    height: 180px;
}